html, body {
  height: 100%;
  font-family: "Arial", Times, serif;
}

body {
  background-color: #f6f6f6;
}

p {
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
}

h5 {
  margin-bottom: 0px;
}

footer {
  background: #222222;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  height: 6%;
}

#body {
  min-height: 94%;
}

#pagecontent {
  margin-right: 0px;
  margin-left: 0px;
}

.pageWrapper {
	padding: 20px;
}

.contentWrapper {
  margin-left: -30px;
  margin-right: -30px;
}

.textCenter {
  text-align: center;
}

.greeneryBackground {
  background-color: rgb(136, 176, 75);
}

.greeneryBorder {
  border: 1px solid rgb(136, 176, 75);
}

.marginLeft {
  margin-left: 25px !important;
}

/* MENU main */
#menuRow {
  margin-right: 0px;
  margin-left: 0px;
}

#mainNav {
  width: 100%;
  padding-bottom: 0px;
  background-color: #222222;
}

#logo {
  margin-right: 1rem;
}

.menuItem {
  margin-top: -10px;
  padding-top: 27px !important;
  height: 70px;
  font-size: 0.875rem;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  color: rgb(136, 176, 75);
}

.searchbar {
  padding-left: 0px;
  padding-right: 0px;
}

.arrow {
  margin-left: -10px;
  padding: 10px;
}

.arrowDown {
  transform: rotate(45deg);
  padding-left: 5px;
}

/* MENU categories */
#categorieRow {
  margin-right: 0px;
  margin-left: 0px;
}

#categorieNav {
  background-color: rgb(136, 176, 75);
}

.categorieMenuItem {
  height: 20px;
  font-size: 0.8125rem;
  display: inline-block;
  margin-left: 1.7%;
  margin-right: 1.7%;
  color: #FFFFFF;
}

/* HOME featured auctions */
.cardItem {
  width: 23%;
  margin: 1%;
}

.card {
  height: 100%;
}

.cardTitle {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.cardHeader {
  font-size: 1rem;
  line-height: 1.125;
  font-weight: 700;
  color: #222222;
  flex: 1 0 auto;
}

.cardFooter {
  font-size: 0.75rem;
  line-height: 1.167;
  color: #727272;
  margin-top: 0.5rem;
}

/* HOME popular categories */
.popularCategoryItem {
  width: 23%;
  position: relative;
  margin: 1%;
  background-color: #000000;
}

.popularCategoryBackground {
  position: absolute;
  height: 100%;
}

.popularCategoryText {
  padding-top: 65px;
  padding-bottom: 65px;
  font-weight: 700;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.opacityHover {
	opacity: 0.7;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.opacityHover:hover {
	opacity: 1;
}

/* If screen < 1000px (Tablets) */
@media only screen and (max-width: 1000px) {

  /* HOME featured auctions */
  .cardItem {
    width: 48%;
  }

  .rounded-top {
    height: 300px;
  }

  /* HOME popular categories */
  .popularCategoryItem {
    height: 140px;
  }

}

/* If screen < 726px (Phones) */
@media only screen and (max-width: 726px) {

  /* HOME carousel */
  #carouselExampleIndicators {
    display: none;
  }

  /* HOME featured auctions */
  .cardItem {
    width: 100%;
  }

  /* HOME popular categories */
  .popularCategoryItem {
    width: 48%;
  }

}
