html, body {
  height: 100%;
  font-family: "Arial", Times, serif;
}

body {
  background-color: #f6f6f6;
}

p {
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
}

h5 {
  margin-bottom: 0px;
}

#body {
  min-height: 60vh;
}

#pagecontent {
  margin-right: 0px;
  margin-left: 0px;
}

.pageWrapper {
	padding: 20px;
}

.contentWrapper {
  margin-left: -30px;
  margin-right: -30px;
}

.textCenter {
  text-align: center;
}

.greeneryBackground {
  background-color: rgb(136, 176, 75);
}

.greeneryBorder {
  border: 1px solid rgb(136, 176, 75);
}

.marginLeft {
  margin-left: 20px !important;
}

.marginRight {
  margin-right: 20px !important;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.colorGray {
  color: #222222;
}

/* MENU main */
#mainNav {
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  background-color: #222222;
  padding: 0.2rem 0rem;
}

#logo {
  margin-right: 1rem;
}

#dropdownAuctions {
  left: 135px;
}

#menuSearchbar {
  padding-left: 0px;
  padding-right: 0px;
}

#dropdownLanguage {
  left: 78%;
  min-width: 5rem;
}

.menuItem, .hamburgerMenu {
  margin-top: -10px;
  padding-top: 28px !important;
  height: 70px;
  font-size: 0.875rem;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  color: rgb(136, 176, 75) !important;
}

.menuItem:hover, .hamburgerMenu:hover {
  color: #FFFFFF;
}

.hamburgerMenu {
  padding: 20px;
  width: 60px;
  float: right;
  display: none;
}

.hamburgerIcon {
  font-size: 1.2rem;
  line-height: 1.4;
}

.arrow {
  margin-left: -10px;
  padding: 10px;
}

.arrowDown {
  transform: rotate(45deg);
  padding-left: 5px;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: 9px;
  font-size: 50px;
}

/* MENU categories */
#categorieRow {
  margin-right: 0px;
  margin-left: 0px;
}

#categorieNav {
  background-color: rgb(136, 176, 75);
}

.categorieMenuItem {
  height: 20px;
  font-size: 0.8125rem;
  display: inline-block;
  margin-left: 1.7%;
  margin-right: 1.7%;
  color: #FFFFFF;
}

.categorieMenuItem:hover {
  color: #000000;
}

/* FOOTER */
footer {
  background: #222222;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  min-height: 6.5vh;
}

footer h5 {
  font-weight: 700;
  line-height: 2;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}

.linkFooter {
  color: #fff;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
}

.linkFooter:hover {
  color: #fff;
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

.footerLine {
  border-top: 1px solid #999;
  padding: 10px;
}

.footerBreak {
  margin: 0 0.5rem;
}

/* FOOTER social media */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}

.social-network a.icoYoutube:hover {
	background-color: #ff0000;
}

.social-network a.icoPinterest:hover {
	background-color: #cb2027;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 60px;
	font-size: 25px;
}

.social-circle li i {
	margin: 0;
	line-height: 60px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* HOME featured auctions */
.carousel {
  padding-bottom: 1.3em;
}

.cardItem {
  width: 23%;
  margin: 1%;
  margin-bottom: 1em;
}

.card {
  height: 100%;
}

.card img{
  object-fit: cover;
}

.cardTitle {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.cardHeader {
  font-size: 1rem;
  line-height: 1.125;
  font-weight: 700;
  color: #222222;
  flex: 1 0 auto;
}

.cardFooter {
  font-size: 0.75rem;
  line-height: 1.167;
  color: #727272;
  margin-top: 0.5rem;
}

/* HOME popular categories */
.popularCategoryItem {
  height: 170px;
  width: 23%;
  position: relative;
  margin: 1%;
  background-color: #000000;
}

.popularCategoryItem img{
  object-fit: cover;
}

.popularCategoryBackground {
  position: absolute;
  height: 170px;
}

.popularCategoryText {
  padding-top: 70px;
  padding-bottom: 70px;
  font-weight: 700;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.opacityHover {
	opacity: 0.7;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.opacityHover:hover {
	opacity: 1;
}

/* LOGIN page */
.loginContainer {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #fff;
}

.loginLogo {
    position: relative;
    margin-left: -62%;
    font-size: 3em;
}

.loginLogo i {
    position: absolute;
    margin-top: 22%;
    background: #222222;
    border-radius: 4.5rem;
    padding: 5%;
}

.loginForm {
    padding: 12%;
    background: #222222;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.loginForm h3 {
    text-align: center;
    margin-bottom: 12%;
}

.registerenContainer {
    padding: 12%;
    background: rgb(136, 176, 75);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.registerenContainer h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 100%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: rgb(136, 176, 75);
}

/* If screen < 1050px (Tablets) */
@media only screen and (max-width: 1050px) {

  /* MENU main */
  #logo {
    margin-left: 0.2rem;
  }

  .col-sm-4, .col-sm-4 {
    padding: 0;
  }

  /* MENU categories */
  #categorieRow {
    display: none;
  }

  #dropdownAuctions {
    left: 115px;
  }

  #dropdownLanguage {
    left: 75%;
  }

  /* HOME featured auctions */
  .cardItem {
    width: 48%;
  }

  .rounded-top {
    height: 300px;
  }

}

/* If screen < 726px (Phones) */
@media only screen and (max-width: 726px) {

  /* MENU main */
  #menuSearchbar {
    display: none;
  }

  .menuItem {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  /* HOME carousel */
  #carouselExampleIndicators {
    display: none;
  }

  /* HOME featured auctions */
  .cardItem {
    width: 100%;
  }

  /* HOME popular categories */
  .popularCategoryItem {
    width: 48%;
  }

}
